[Unit]
Description=Matchbox Server
Documentation=https://github.com/poseidon/matchbox

[Service]
User={{ matchbox_user }}
Group={{ matchbox_group }}
EnvironmentFile={{ matchbox_config_path }}/matchbox.conf
ExecStart={{ matchbox_bin_directory }}/matchbox

# systemd.exec
ProtectHome=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target