MATCHBOX_LOG_LEVEL={{ matchbox_log_level }}
MATCHBOX_ADDRESS={{ matchbox_address }}
MATCHBOX_RPC_ADDRESS={{ matchbox_rpc_address }}
MATCHBOX_ASSETS_PATH={{ matchbox_assets_path }}
MATCHBOX_DATA_PATH={{ matchbox_data_path }}
MATCHBOX_CA_FILE={{ matchbox_ca_file }}
MATCHBOX_CERT_FILE={{ matchbox_cert_file }}
MATCHBOX_KEY_FILE={{ matchbox_key_file }}
MATCHBOX_WEB_SSL={{ matchbox_web_ssl | string | lower }}
MATCHBOX_WEB_CERT_FILE={{ matchbox_web_cert_file }}
MATCHBOX_WEB_KEY_FILE={{ matchbox_web_key_file }}